<mat-card>
	<mat-card-header>
		<mat-card-title>{{ heroe.superhero }}</mat-card-title>
		<mat-card-subtitle>{{ heroe.alter_ego }}</mat-card-subtitle>
	</mat-card-header>

	<img mat-card-image [src]="heroe | imagen" />

	<mat-card-content>
		<h3>{{ heroe.publisher }}</h3>
		<p>
			<strong>Primera aparicion:</strong> {{ heroe.first_appearance }}
			<br />
			<strong>Personajes:</strong> {{ heroe.characters }}
		</p>
		<button mat-button [routerLink]="['/heroes', heroe.id]" color="info">Leer mas...</button>
	</mat-card-content>

	<mat-card-actions>
		<button mat-button [routerLink]="['/heroes/editar/', heroe.id]" color="info">Editar</button>
		<button mat-button color="warn" (click)="delete(heroe.id!)">Eliminar</button>
	</mat-card-actions>
</mat-card>
